<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=master;encrypt=true;trustServerCertificate=true</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">Strong(!)Pass</property>

    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.highlight_sql">true</property>



    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.use_query_cache">true</property>
    <property name="hibernate.generate_statistics">true</property>
    <property name="hibernate.current_session_context_class">thread</property>

    <property name="hibernate.cache.region.factory_class">jcache</property>
    <property name="hibernate.hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
    <property name="hibernate.javax.cache.uri">ehcache.xml</property>
    <!-- Entity mapping-->
    <mapping class="fa.training.entity.Department"/>
    <mapping class="fa.training.entity.Employee"/>

  </session-factory>
</hibernate-configuration>